$text-blue: #3747a6;
$text-primary: #131316;
$text-color: #455880;
$text-black: #000000;
$text-white: #ffffff;
$text-grey: #fbfbfb;

$text-red: #bf2011;
$linear-first: linear-gradient(264.43deg, #3747a6 -9.48%, #bf2011 125.36%);
$text-rating: #faca51;
$bg-first: #eeeeee;
$bg-second: #fafafa;
